<header>
  <section class="container header-info">
    <h1>Find your bandmates</h1>
    <p>
      With Playvine, connecting with other musicians is a breeze.
    </p>
    <p>
      Create sessions for your upcoming projects and have people join.
      Or check out all sessions in your area and join with a click.
    </p>
    {{#unless currentUser}}
    <a href="/auth/signup" class="button fullwidth">Sign me up!</a>
    <div class="field">
      <p>Already a member? <a href="/auth/login">Login</a>.</p>
    </div>
    {{else}}
    <a href="/sessions/create" class="button fullwidth">Create session</a>
    <div class="field">
      <p>Or <a href="/sessions">see upcoming sessions</a>.</p>
    </div>
    {{/unless}}
  </section>
  <div class="baby-separator"></div>
  <div class="big-separator"></div>
</header>
<main id="list-preview" class="container header-info">
  <h1>Find a session</h1>
  <p>
    Check upcoming sessions (we hand-pick them just for you!) and offer to join with your instrument of choice.
  </p>
  <p>
    You can also <a href="/sessions/create">create your own</a>.
  </p>

  {{#unless currentUser}}
  {{#each musicSessions}}
  <article class="showcase">
    <h3 class="header-info">{{this.name}}</h3>
    <h4 class="session-location">{{this.location}}</h4>
    <h4 class="session-time">{{this.formattedStartTime}}</h4>
    <p class="call-to-action">Like it? <a href="/auth/signup">Sign up to learn more</a></p>
  </article>
  {{/each}}
  {{else}}
  {{#each musicSessions}}
  <article class="showcase">
    <h3 class="header-info">{{this.name}}</h3>
    <h4 class="session-location">{{this.location}}</h4>
    <h4 class="session-time">{{this.formattedStartTime}}</h4>
    <a href="/sessions/{{this._id}}/detail">See details</a>
  </article>
  {{/each}}
  {{/unless}}