<main class="container header-info">
  <article class="showcase">
    <h4 class="detail">Session details</h4>
    <h3 class="header-info">{{musicSession.name}}</h3>
    <h4 class="session-location">{{musicSession.location}}</h4>
    <h4 class="session-time">{{musicSession.formattedStartTime}}</h4>
    <h4 class="detail">Info about this session:</h4>
    <p class="information">
      {{musicSession.sessionInfo}}
    </p>

    <form method="POST" action="/sessions/{{musicSession.id}}/join">
      <fieldset class="needed">
        <h4>Instruments needed</h4>
        {{#each musicSession.roles}}
        <div id="creation" class="inline-field">
          <input class="instrument" type="radio" name="role" value="{{this.instrument}}" id="instrument" />
          <label for="instrument">{{this.instrument}}</label>
        </div>
        {{/each}}
        {{!-- {{#if currentUserId === musicSession.creatorId }}
        <a href="/sessions/{{session._id}}/create">Modify this session</a>
        {{else}} --}}
        {{!-- {{/if}} --}}
      </fieldset>

      <button class="button with-margins" type="submit">Join this session</button>
    </form>

      {{#if messages.length}}
          {{#each messages}}
            <p class="message">* {{this}}</p>
          {{/each}}
      {{/if}}

  </article>
</main>